<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg-fail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,800}</string>
                <key>spriteSourceSize</key>
                <string>{480,800}</string>
                <key>textureRect</key>
                <string>{{1,1},{480,800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg-success.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,800}</string>
                <key>spriteSourceSize</key>
                <string>{480,800}</string>
                <key>textureRect</key>
                <string>{{483,1},{480,800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,800}</string>
                <key>spriteSourceSize</key>
                <string>{480,800}</string>
                <key>textureRect</key>
                <string>{{1,803},{480,800}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>box1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,1285},{300,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{303,1285},{300,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,177}</string>
                <key>spriteSourceSize</key>
                <string>{171,177}</string>
                <key>textureRect</key>
                <string>{{965,393},{171,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,60}</string>
                <key>spriteSourceSize</key>
                <string>{199,62}</string>
                <key>textureRect</key>
                <string>{{771,1433},{197,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guide-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{457,628}</string>
                <key>spriteSourceSize</key>
                <string>{457,628}</string>
                <key>textureRect</key>
                <string>{{803,803},{457,628}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guide-btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,61}</string>
                <key>spriteSourceSize</key>
                <string>{217,61}</string>
                <key>textureRect</key>
                <string>{{1237,1},{217,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,148}</string>
                <key>spriteSourceSize</key>
                <string>{135,148}</string>
                <key>textureRect</key>
                <string>{{970,1433},{135,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,133}</string>
                <key>spriteSourceSize</key>
                <string>{133,133}</string>
                <key>textureRect</key>
                <string>{{1120,1433},{133,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,162}</string>
                <key>spriteSourceSize</key>
                <string>{133,162}</string>
                <key>textureRect</key>
                <string>{{1138,393},{133,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>omo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{138,112}</string>
                <key>spriteSourceSize</key>
                <string>{140,130}</string>
                <key>textureRect</key>
                <string>{{1109,572},{138,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>omo1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{130,102}</string>
                <key>spriteSourceSize</key>
                <string>{152,122}</string>
                <key>textureRect</key>
                <string>{{1223,557},{130,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>restart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-1}</string>
                <key>spriteSize</key>
                <string>{62,32}</string>
                <key>spriteSourceSize</key>
                <string>{124,48}</string>
                <key>textureRect</key>
                <string>{{1237,220},{62,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>score.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,31}</string>
                <key>spriteSourceSize</key>
                <string>{96,33}</string>
                <key>textureRect</key>
                <string>{{965,768},{94,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-13}</string>
                <key>spriteSize</key>
                <string>{164,235}</string>
                <key>spriteSourceSize</key>
                <string>{200,261}</string>
                <key>textureRect</key>
                <string>{{605,1285},{164,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprite1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,194}</string>
                <key>spriteSourceSize</key>
                <string>{142,194}</string>
                <key>textureRect</key>
                <string>{{965,572},{142,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ufo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,390}</string>
                <key>spriteSourceSize</key>
                <string>{270,390}</string>
                <key>textureRect</key>
                <string>{{965,1},{270,390}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>scratch.png</string>
            <key>size</key>
            <string>{1326,1586}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4991c7d79f87bc58719c90f6dbcc6c84:5057780c8d4da2c1d5c26ae7550fc295:631ed748214e8158b86ae3c94d5baeef$</string>
            <key>textureFileName</key>
            <string>scratch.png</string>
        </dict>
    </dict>
</plist>
