<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>11p_miaoxiaocheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,244},{161,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,228}}</string>
                <key>sourceSize</key>
                <string>{161,228}</string>
            </dict>
            <key>12p_omo.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,855},{60,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,54}}</string>
                <key>sourceSize</key>
                <string>{60,54}</string>
            </dict>
            <key>13p_omo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,788},{109,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,65}}</string>
                <key>sourceSize</key>
                <string>{109,65}</string>
            </dict>
            <key>14p_omo.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,195},{86,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,76}}</string>
                <key>sourceSize</key>
                <string>{86,76}</string>
            </dict>
            <key>15p_miaoxiaocheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,883},{138,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,220}}</string>
                <key>sourceSize</key>
                <string>{138,220}</string>
            </dict>
            <key>15p_omo.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,911},{59,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,41}}</string>
                <key>sourceSize</key>
                <string>{59,41}</string>
            </dict>
            <key>15p_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,974},{45,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,54}}</string>
                <key>sourceSize</key>
                <string>{45,54}</string>
            </dict>
            <key>1p_hangxiaobao.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,861},{111,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,162}}</string>
                <key>sourceSize</key>
                <string>{111,162}</string>
            </dict>
            <key>1p_miaoxiaocheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,684},{172,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,175}}</string>
                <key>sourceSize</key>
                <string>{172,175}</string>
            </dict>
            <key>20p_omo.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,699},{97,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,87}}</string>
                <key>sourceSize</key>
                <string>{97,87}</string>
            </dict>
            <key>21p_miaoxiaocheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,670},{203,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,211}}</string>
                <key>sourceSize</key>
                <string>{203,211}</string>
            </dict>
            <key>23p_omo.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,586},{111,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,71}}</string>
                <key>sourceSize</key>
                <string>{111,71}</string>
            </dict>
            <key>2p_omo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,344},{123,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,84}}</string>
                <key>sourceSize</key>
                <string>{123,84}</string>
            </dict>
            <key>2p_omo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,974},{59,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,43}}</string>
                <key>sourceSize</key>
                <string>{59,43}</string>
            </dict>
            <key>3p_people.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{666,257}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{666,257}}</string>
                <key>sourceSize</key>
                <string>{666,257}</string>
            </dict>
            <key>4p_miaoxiaocheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,2},{153,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,240}}</string>
                <key>sourceSize</key>
                <string>{153,240}</string>
            </dict>
            <key>5p_hangxiaobao.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{94,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,144}}</string>
                <key>sourceSize</key>
                <string>{94,144}</string>
            </dict>
            <key>5p_omo.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,273},{86,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,69}}</string>
                <key>sourceSize</key>
                <string>{86,69}</string>
            </dict>
            <key>6p_omo.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,474},{208,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,161}}</string>
                <key>sourceSize</key>
                <string>{208,161}</string>
            </dict>
            <key>7p_10p_11P_omo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,469},{115,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,79}}</string>
                <key>sourceSize</key>
                <string>{115,79}</string>
            </dict>
            <key>7p_10p_11p_omo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,974},{59,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,43}}</string>
                <key>sourceSize</key>
                <string>{59,43}</string>
            </dict>
            <key>haixing.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,148},{94,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,45}}</string>
                <key>sourceSize</key>
                <string>{94,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>角色0.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6874fe4b0935762215737c137f5be564:a3f3410f9f4e73456936d0294912cf09:9440f997e65597fd1108552222bdc209$</string>
            <key>textureFileName</key>
            <string>角色0.png</string>
        </dict>
    </dict>
</plist>
