<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>13p_biankuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,478},{276,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,178}}</string>
                <key>sourceSize</key>
                <string>{276,178}</string>
            </dict>
            <key>1p_qipao_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{499,413}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{499,413}}</string>
                <key>sourceSize</key>
                <string>{499,413}</string>
            </dict>
            <key>21p_qipao_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,570},{138,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,134}}</string>
                <key>sourceSize</key>
                <string>{138,134}</string>
            </dict>
            <key>22p_biankuang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,293},{235,313}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,313}}</string>
                <key>sourceSize</key>
                <string>{235,313}</string>
            </dict>
            <key>22p_biankuang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,756},{235,313}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,313}}</string>
                <key>sourceSize</key>
                <string>{235,313}</string>
            </dict>
            <key>22p_biankuang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,530},{235,313}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,313}}</string>
                <key>sourceSize</key>
                <string>{235,313}</string>
            </dict>
            <key>4p_11p_duihuakuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,530},{217,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,145}}</string>
                <key>sourceSize</key>
                <string>{217,145}</string>
            </dict>
            <key>4p_qipao.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,417},{273,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,171}}</string>
                <key>sourceSize</key>
                <string>{273,171}</string>
            </dict>
            <key>8p_qipao_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,293},{183,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,192}}</string>
                <key>sourceSize</key>
                <string>{183,192}</string>
            </dict>
            <key>8p_tanchuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,417},{151,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,164}}</string>
                <key>sourceSize</key>
                <string>{151,164}</string>
            </dict>
            <key>9p_qipao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,767},{284,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,211}}</string>
                <key>sourceSize</key>
                <string>{284,211}</string>
            </dict>
            <key>9p_qipao3.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,767},{297,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,210}}</string>
                <key>sourceSize</key>
                <string>{297,210}</string>
            </dict>
            <key>9p_qipao_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,2},{289,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,440}}</string>
                <key>sourceSize</key>
                <string>{289,440}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>底框3.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab7e011fbaf288017faed499430d8fee:f745e725eb76c73d3d3d6164d5accece:abfc154a0694cd8917b57842c4507c27$</string>
            <key>textureFileName</key>
            <string>底框3.png</string>
        </dict>
    </dict>
</plist>
