<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{319,500}</string>
                <key>spriteSourceSize</key>
                <string>{319,500}</string>
                <key>textureRect</key>
                <string>{{0,0},{319,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{564,890}</string>
                <key>spriteSourceSize</key>
                <string>{564,890}</string>
                <key>textureRect</key>
                <string>{{1029,640},{564,890}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{427,640}</string>
                <key>spriteSourceSize</key>
                <string>{427,640}</string>
                <key>textureRect</key>
                <string>{{319,0},{427,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{563,797}</string>
                <key>spriteSourceSize</key>
                <string>{563,797}</string>
                <key>textureRect</key>
                <string>{{466,640},{563,797}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>05.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,454}</string>
                <key>spriteSourceSize</key>
                <string>{450,454}</string>
                <key>textureRect</key>
                <string>{{746,0},{450,454}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>06.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{466,700}</string>
                <key>spriteSourceSize</key>
                <string>{466,700}</string>
                <key>textureRect</key>
                <string>{{0,640},{466,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>昆曲集.png</string>
            <key>size</key>
            <string>{1593,1530}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9060564221665395ca5202ffa16e630f:8670d724fafe9b2e719c9c1125aaaded:afd5818c67014cc49c1f96534ecaf2a3$</string>
            <key>textureFileName</key>
            <string>昆曲集.png</string>
        </dict>
    </dict>
</plist>
