<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>13p_wenbenkuang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,509},{96,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,45}}</string>
                <key>sourceSize</key>
                <string>{96,45}</string>
            </dict>
            <key>16p_qipao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,509},{907,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{907,512}}</string>
                <key>sourceSize</key>
                <string>{907,512}</string>
            </dict>
            <key>19p_qipao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{930,505}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{930,505}}</string>
                <key>sourceSize</key>
                <string>{930,505}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>底框0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab7e011fbaf288017faed499430d8fee:f745e725eb76c73d3d3d6164d5accece:abfc154a0694cd8917b57842c4507c27$</string>
            <key>textureFileName</key>
            <string>底框0.png</string>
        </dict>
    </dict>
</plist>
