<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>13p_fish1.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,149},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>13p_fish2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,191},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>13p_fish3.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,191},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>13p_fish4.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,197},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>13p_fish5.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,263},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>13p_fish6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,305},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>13p_fish7.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,305},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>13p_fish8.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,311},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>16p_ifempty.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,377},{111,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,60}}</string>
                <key>sourceSize</key>
                <string>{111,60}</string>
            </dict>
            <key>16p_ifincomplete.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,95},{244,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,52}}</string>
                <key>sourceSize</key>
                <string>{244,52}</string>
            </dict>
            <key>18p_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{244,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,97}}</string>
                <key>sourceSize</key>
                <string>{244,97}</string>
            </dict>
            <key>2p_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,439},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>2p_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,471},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>2p_icon3.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,439},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>2p_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{164,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,42}}</string>
                <key>sourceSize</key>
                <string>{164,42}</string>
            </dict>
            <key>7p_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,149},{133,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,46}}</string>
                <key>sourceSize</key>
                <string>{133,46}</string>
            </dict>
            <key>bg_dayu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{292,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,88}}</string>
                <key>sourceSize</key>
                <string>{292,88}</string>
            </dict>
            <key>bg_haixing.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,346},{94,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,45}}</string>
                <key>sourceSize</key>
                <string>{94,45}</string>
            </dict>
            <key>bg_huanglvyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,425},{85,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,44}}</string>
                <key>sourceSize</key>
                <string>{85,44}</string>
            </dict>
            <key>bg_huanglvyu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,2},{91,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,47}}</string>
                <key>sourceSize</key>
                <string>{91,47}</string>
            </dict>
            <key>bg_lanhuangyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,263},{81,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,51}}</string>
                <key>sourceSize</key>
                <string>{81,51}</string>
            </dict>
            <key>bg_yuqun.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,419},{106,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,73}}</string>
                <key>sourceSize</key>
                <string>{106,73}</string>
            </dict>
            <key>bg_yuqunyingzi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,46},{157,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,44}}</string>
                <key>sourceSize</key>
                <string>{157,44}</string>
            </dict>
            <key>bg_ziseyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,419},{95,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,62}}</string>
                <key>sourceSize</key>
                <string>{95,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>按钮标题其他1.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ff0245f058250867abe69b127f48abf:41204ef13a58449c90a9ddfc65826374:3bf9b453488bd55e4671610b58380c72$</string>
            <key>textureFileName</key>
            <string>按钮标题其他1.png</string>
        </dict>
    </dict>
</plist>
