<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>11p_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{176,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,45}}</string>
                <key>sourceSize</key>
                <string>{176,45}</string>
            </dict>
            <key>16p_ifempty.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,395},{111,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,60}}</string>
                <key>sourceSize</key>
                <string>{111,60}</string>
            </dict>
            <key>2p_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,176},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>2p_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,249},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>2p_icon3.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,322},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>7p_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,404},{133,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,46}}</string>
                <key>sourceSize</key>
                <string>{133,46}</string>
            </dict>
            <key>bg_huanglvyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,77},{85,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,44}}</string>
                <key>sourceSize</key>
                <string>{85,44}</string>
            </dict>
            <key>bg_lanhuangyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,123},{81,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,51}}</string>
                <key>sourceSize</key>
                <string>{81,51}</string>
            </dict>
            <key>bg_shuipao.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,395},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>bg_yuqun.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{106,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,73}}</string>
                <key>sourceSize</key>
                <string>{106,73}</string>
            </dict>
            <key>erweima1.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,404},{155,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,159}}</string>
                <key>sourceSize</key>
                <string>{155,159}</string>
            </dict>
            <key>erweima2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{400,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>按钮标题其他2.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e036583787f2ef48a1615b76737f81be:1b0d0c8f94e4e34292010021f0cd0705:eaf4ab44b110f80f241c50005b219dd0$</string>
            <key>textureFileName</key>
            <string>按钮标题其他2.png</string>
        </dict>
    </dict>
</plist>
