<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10p_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,741},{264,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,44}}</string>
                <key>sourceSize</key>
                <string>{264,44}</string>
            </dict>
            <key>11p_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,563},{176,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,45}}</string>
                <key>sourceSize</key>
                <string>{176,45}</string>
            </dict>
            <key>12p_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,353},{315,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,126}}</string>
                <key>sourceSize</key>
                <string>{315,126}</string>
            </dict>
            <key>12p_zuobiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{649,463}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{649,463}}</string>
                <key>sourceSize</key>
                <string>{649,463}</string>
            </dict>
            <key>12p_zuobiao_qipao.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,544},{285,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,204}}</string>
                <key>sourceSize</key>
                <string>{285,204}</string>
            </dict>
            <key>13p_fish9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,892},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>13p_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,955},{89,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,35}}</string>
                <key>sourceSize</key>
                <string>{89,35}</string>
            </dict>
            <key>14p_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,481},{307,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,61}}</string>
                <key>sourceSize</key>
                <string>{307,61}</string>
            </dict>
            <key>15p_guandao.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,2},{359,349}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,349}}</string>
                <key>sourceSize</key>
                <string>{359,349}</string>
            </dict>
            <key>16p_backclass.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,955},{173,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,38}}</string>
                <key>sourceSize</key>
                <string>{173,38}</string>
            </dict>
            <key>16p_guide.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,467},{632,423}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{632,423}}</string>
                <key>sourceSize</key>
                <string>{632,423}</string>
            </dict>
            <key>16p_save&amp;release.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,955},{196,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,64}}</string>
                <key>sourceSize</key>
                <string>{196,64}</string>
            </dict>
            <key>19p_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,750},{242,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,104}}</string>
                <key>sourceSize</key>
                <string>{242,104}</string>
            </dict>
            <key>20p_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,631},{174,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,46}}</string>
                <key>sourceSize</key>
                <string>{174,46}</string>
            </dict>
            <key>22p_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,353},{276,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,47}}</string>
                <key>sourceSize</key>
                <string>{276,47}</string>
            </dict>
            <key>3p_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,892},{481,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{481,61}}</string>
                <key>sourceSize</key>
                <string>{481,61}</string>
            </dict>
            <key>6p_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,892},{305,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,109}}</string>
                <key>sourceSize</key>
                <string>{305,109}</string>
            </dict>
            <key>8p_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,992},{85,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,29}}</string>
                <key>sourceSize</key>
                <string>{85,29}</string>
            </dict>
            <key>8p_jifenqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,939},{77,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,34}}</string>
                <key>sourceSize</key>
                <string>{77,34}</string>
            </dict>
            <key>bg_fenseyub.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,853},{84,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,36}}</string>
                <key>sourceSize</key>
                <string>{84,36}</string>
            </dict>
            <key>bg_fenseyus.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,1003},{32,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,17}}</string>
                <key>sourceSize</key>
                <string>{32,17}</string>
            </dict>
            <key>bg_shuipao.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,807},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>bg_yuqunyingzi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,481},{80,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,22}}</string>
                <key>sourceSize</key>
                <string>{80,22}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>按钮标题其他0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ff0245f058250867abe69b127f48abf:41204ef13a58449c90a9ddfc65826374:3bf9b453488bd55e4671610b58380c72$</string>
            <key>textureFileName</key>
            <string>按钮标题其他0.png</string>
        </dict>
    </dict>
</plist>
